body {
    font-family: sans-serif;
}
form > div {
    margin: 10px 0;
}
label {
    display: block;
}
input {
    font-size: 0.9em;
    padding: 5px;
}
.field-hint {
    color: #888;
    font-size: 0.8em;
}
.ninja-validation-alert {
    color: #f00;
    font-size: 0.8em;
    font-style: italic;
}

body > header > h1 {
    border-bottom: solid #333 1px;
    padding-bottom: 20px;
    text-align: center;
}

section.page > header {
    position: relative;
}

section.page > header nav.page-header-left {
    left: 0;
    line-height: 40px;
    position: absolute;
    top: 0;
}

section.page > header nav.page-header-right {
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

section.page > header h1 {
    line-height: 40px;
    text-align: center;
}

section.page {
    display: none;
}

.flash {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.flash p {
    background: #ada;
    border-radius: 0 0 5px 5px;
    margin: 0 10px;
    opacity: 0.9;
    padding: 20px;
    text-align: center;
}

.flash p.notice {
    background: #bdf;
}

.flash p.notice {
    background: #fbb;
}

section.content table {
    width: 100%;
    border-collapse: collapse;
}

section.content table thead tr {
    background: #ddd;
    margin-bottom: 1px;
}

section.content table th {
    text-align: center;
    padding: 5px;
}

section.content table tbody tr {
    background: #eee;
    margin-bottom: 1px;
}


section.content table td {
    padding: 5px;
}

body > footer {
    color: #888;
    font-size: 0.8em;
    margin-top: 40px;
}

